<!DOCTYPE html>
<html>
<head>
	<title>table</title>


	<style>
table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
}


</style>
</head>
<body>
    <table style="width:50%; font-size: 30px; ">

  <tr>


    <td>City</td>
    <td>{{city}}</td>

  </tr>
  <tr>
    <td>Weather</td>
    <td>{{weather}}</td>

  </tr>
  <tr>
    <td>Description</td>
    <td>{{description}}</td>
  </tr>

  <tr>
    <td>Current Temperature</td>
    <td>{{curTemp}}</td>
  </tr>
  <tr>
    <td>Maximum Temperature</td>
    <td>{{maxTemp}}</td>
  </tr>
  <tr>
    <td>Minimum Temperature</td>
    <td>{{minTemp}}</td>
  </tr>
  <tr>
    <td>Pressure</td>
    <td>{{press}}</td>
  </tr>

  <tr>
    <td>Humidity</td>
    <td>{{humidity}}</td>
  </tr>

  <tr>
    <td>Visibility</td>
    <td>{{visibility}}</td>
  </tr>
</table>
</body>
</html>
